.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 750px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-header__top-panel {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #515f67;
  z-index: 10;
}

.home-header__inner {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
